*{
    padding: 0;
    margin: 0 auto;
}
.lorem >p{
    height: 220px;
    width: 350px;
    margin: 15 10 25;
    padding: 30px;
    border: solid 2px red;
    background-color: green;
}
.lorem >h3{
    height: 220px;
    width: 350px;
    margin: 15 10 25;
    padding: 30px;
    border: solid 2px red;
    background-color: green;
}